/.metadata/
/*.sq3
/bin/
/.classpath
/.project
/.metadata
/.idea
/.idea/
/out
/out/
KF5012DarthMaulApplication/.metadata/

*.log
*.iml
KF5012DarthMaulApplication/db.sq3

KF5012DarthMaulApplication/junit/
/KF5012DarthMaulApplication/dist/

KF5012DarthMaulApplication/ViewReports.txt
